.wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 5px;
  max-height: 60vh;
  overflow-y: scroll;
  margin: 0;
}

.rotate {
  position: fixed;
  left: 0;
  right: 0;
  margin-inline: auto;
  height: 30%;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.elem {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: wheat;
  font-weight: 600;

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: black;
  }
}
